/* 選択したユーザ以外の画像を非表示にする */
li.voice-state:not([data-reactid*="486877329432510464"]) { display:none; }

/* アイコンを立ち絵画像に差し替える */
.avatar {
  content:url("https://cdn.discordapp.com/attachments/998879075626135582/1038098883085086780/22_20221104233411.png");
  height:auto !important;
  width:95% !important;
  border-radius:0 !important;
}

/* 発話状態の設定 */
.speaking {
  border-color:rgba(0,0,0,0) !important;
  filter:  drop-shadow(0 0 30px rgba(248,248,255,1));
}


/* ネームタグ表示位置調整 */
li.voice-state{ position: static; text-align: center;}
div.user{ display: none; }

/* 色々消すヤツ */
body { background-color: rgba(0, 0, 0, 0); overflow: hidden; }