/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* カットイン */
.sc-gJwTLC,
/* 背景 */
.sc-TRNrF,
/* 盤面 */
.sc-djvmMF,
/* キャラ */
.sc-cwpsFg,
/* チャット */
.MuiDrawer-root,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* 音量 */
.sc-ikjQzJ,
/* 拡大縮小 */
.sc-hZgfyJ,
/* 鉛筆ボタン */
.sc-dSuTWQ,
/* 監視モード */
.MuiSnackbar-root,
/* タイマー */
.sc-hAsxaJ,
/* キャラアイコン */
.hrRhBl,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/* 盤面のサイズ */
.sc-kgUAyh {
  width: 100% !important;
}

