/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* カットイン */
sc-djvmMF,
/* 背景 */
.sc-bWXABl,
/* 盤面 */
.sc-fbPSWO,
/* キャラ */
.sc-hKpBwk,
/* チャット */
.MuiDrawer-root,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* 音量 */
.sc-fWjsSh,
/* 拡大縮小 */
.sc-gVAlfg,
/* 鉛筆ボタン */
.MuiFab-root,
/* 監視モード */
.MuiSnackbar-root,
/* タイマー */
.MuiPaper-elevation5,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/* 盤面 */
div[tabindex="0"] {
  width: 100% !important;
}
