/* キャラアイコンを削除 */
.MuiBadge-root {
  display: none;
} 

/* ステータスの横並びの数調整 */
.wzdXv {
    margin-left: 4px;
    max-width: 100px;/*ここで制御*/
    display: flex;
    flex-wrap: wrap;
}

.wzdXv {
zoom: 3.0;
}
